<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
        Copyright 2020, Collabora, Ltd.
        SPDX-License-Identifier: BSL-1.0
    -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <service
            android:name="org.freedesktop.monado.ipc.MonadoService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="connectedDevice|mediaPlayback">

            <intent-filter>
                <action android:name="${serviceActionName}" />
                <action android:name="${shutdownActionName}" />
            </intent-filter>
        </service>
    </application>
</manifest>
